<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE topic PUBLIC "-//OASIS//DTD DITA Topic//EN" "topic.dtd">
<topic id="<%= node.id %>%" xml:lang="en-us">
<title><%= node.doctitle %></title>
<body>
<%= node.content %>
</body>
</topic>
